.dialog {
    width: 300px;
    height: 300px;
    padding: 10px;
    background-image: url("https://phoneky.co.uk/thumbs/wallpapers/2022/p2/abstract/20/wal4ab28.jpg");
    display: flex;
    flex-direction: column;
  }
  
  .avatar {
    width: 200px;
    height: 200px;
    align-self: center;
    margin: 0 auto;
  }
  
  .username {
    margin-top: 20px !important;
    text-align: center;
    color: white;

  }
  
  /* Styling for the close button in the dialog */
  .closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 18px;
    color: #999;
  }
  